  <h2> Log In </h2>

  <p class="error" *ngIf="loginError">
    {{ loginError }}
  </p>

  <form (ngSubmit)="loginSubmit()">
    <label for="log-username-input"> Username </label>
    <input  id="log-username-input" type="text" placeholder="batman"
        name="username" [(ngModel)]="loginUser.loginUsername">
    <br>

    <label for="log-password-input"> Password </label>
    <input  id="log-password-input" type="password" placeholder="*****"
        name="userPassword" [(ngModel)]="loginUser.loginPassword">
    <br>

    <button> Log In </button>
  </form>
